.dashboard {
  box-sizing: border-box;
  border-radius: 25px;
  margin: 0 auto;


}
.question{
  width:40%;
  margin:0 auto;
}

.dashboard  {
  width:40%;
  margin:0 auto;

  padding:20px;
}
 

#emoji {
  font-size: 10vw;
}

input {
  margin-top:20px;
}
