.completed { 
  width: 10%;
  background-color: gold;
  height:30px;
  border: 1px 1px 1px 0;
  border-color:black;
  border-style: solid;
}
.completed:first { 
  border-left: 1px color black;
}

.incomplete { 
  width: 10%;
  background-color: transparent;
  height:30px;
  border: 1px 1px 1px 0;
  border-color:black;
  border-style: solid;
}
.incomplete:first { 
  border-left: 1px color black;
}
.progressBar {
  width:50%;
  margin:0 auto;
  height:30px;
}
.title {
  font-weight:bold;
  font-size:1.5vw;
}
.answerStatus {
  font-size:1.7vw;
}
.feedback-title {
  font-weight:bold;
  font-size:1.5vw;
}
.wrong {
  border:7px red solid;
  border-radius:7px;
}
.feedback {
  margin-top:45px;
  text-align:center;
}
.feedback div {
  text-align:left;
  width: 40%;
  margin:0 auto;
  padding:10px;
}